<div class='texts' ng-controller='textsController'>
  Add an Article by url:
  <input ng-model='urlInput' ng-focus='urlInput = "" '> 
  <button ng-click='getInput(urlInput)'> Add Article </button>

  <div class='textsTable'>
    Available Readings:
    <table border='1px solid lightgrey'>
      <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Select </th>
      </tr>

      <tr ng-repeat='reading in list'>
        <td> {{reading.title}} </td>
        <td> author unknown </td>
        <td> <button class='selectReading' ng-click='getData(reading)'> Read </button> </td>
      </tr>

    </table>

  </div>
</div>