.header {
  background-color: black;
}

.readerContainer {
  margin-top: 15%;
  margin-left: 25%;
}

.dashboardItem {
  height: 100px;
  width: 100px;
  border: 1px solid lightgray;
  display: inline-block;
}

.dashboardItem h3 {
  text-align: center;
}

.reader {
  height: 30px;
  width: 400px;
  border: 1px solid lightgray;
  padding
}

.reader p {
  position: relative;
  top: -10px;
  left: 115px;
}

.textBody {
  width: 400px;
}

